@model IEnumerable<sample.Article>
@{
	ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var test = "Test Razor String";
}
<h2>Article index page</h2>
@Html.ActionLink("Create Article", "New", "Article")
<p>@test</p>
<table>
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Title)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Data)
		</th>
	</tr>
</table>